h1{
  font-family: Verdana;
	font-weight: bold;
	text-align: center;
	padding-top: 25px;
	padding-bottom: 25px;
}

h2{
  font-family: Verdana;
	font-weight: bold;
	text-align: center;
	padding-top: 25px;
	padding-bottom: 25px;
}

h3{
  font-family: Verdana;
	font-weight: bold;
	text-align: center;
}

h4{
  font-family: Verdana;
	font-weight: bold;
	text-align: center;
}

h5{
  font-family: Verdana;
	font-weight: bold;
	text-align: center;

}

h6{
  font-family: Verdana;
	font-weight: bold;
	text-align: center;
	padding-bottom: 25px;
}

img{

}
p{
  font-family: Verdana;
  
}
body{
  background-color:#73C6B6;
}
