h1{
  family-font:sans-serif;
}
h2{
  family-font:sans-serif;
}
h3{
  family-font:sans-serif;
}
h4{
  family-font:sans-serif;
}
h5{
  family-font:sans-serif;
}
h6{
  family-font:sans-serif;
}
img{

}
p{
  family-font:sans-serif;
  
}
body{
  background-color:#17A589;
}
