h1{
  	font-family: Verdana;
	font-weight: bold;
	text-align: center;
	padding-top: 25px;
	padding-bottom: 25px;
}

h2{
  	font-family: Verdana;
	font-weight: bold;
}

	
h3{
  	font-family: Verdana;
	font-weight: bold;
}

h4{
  	font-family: Verdana;
	font-weight: bold;
}

h5{
  	font-family: Verdana;
	font-weight: bold;
}

h6{
  	font-family: Verdana;
	font-weight: bold;
	text-align: center;
	padding-bottom: 25px;
}

img{

}
p{
  	font-family: Verdana;
  
}
body{
  	background-color:#73C6B6;
}

a {
	text-decoration: none;
	color: #3D59AB;
	font-family: Verdana, sans-serif;
}

span {
	font-weight: bold;
	font-size: 18px;
	color: #ffffff;
}

div {
	border-radius: 5px;
	border: 2px solid #6495ED;
	background-color: #2471A3;
	height: 60px;
	width: 150px;
	margin: auto;
	text-align: center;
}
